* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c9c9c9;
    font-family: "Work Sans", sans-serif;
}

main{
    width: 100%;
    max-height: 700px;
    margin: 0 auto;
}

header{
    text-align: center;
    margin-bottom: 20px;
}

img{
    width: 100px;
    margin-top: 20px;
}

h1{
    font-family: "Fjalla One", sans-serif;
}

p{
    margin: 15px 0;
    text-align: center;
    font-weight: bold;
}

form{
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

fieldset{
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

legend{
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0 5px;
}

label{
    display: inline-block;
    margin-bottom: 5px;
}

input,select,textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea{
    resize: vertical;
    min-height: 100px;
}
input[type="radio"], input[type="checkbox"]{
    width: auto;
    margin-right: 10px;
}

input[type="color"]{
    width: 40px;
    padding: 0;
}

input[type="tel"], input[type="file"]{
    margin-bottom: 0;
}

small{
    display: block;
    margin-bottom: 15px;
    color: #555;
}

input[type=""]

button[type="submit"]{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="reset"]{
    background-color: #9e1d1d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: #45a049;
}

button[type="reset"]:hover{
    background-color: #7a1515;
}

input:invalid, select:invalid, textarea:invalid{
    border: 2px solid red;
}

input:valid, select:valid, textarea:valid{
    border: 2px solid green;
}